.navbar-brand{
    color: rgb(214, 30, 30);
    font-size: 30px;
    margin-right:20px ;

}

@media screen and (max-width:600Px) {
    .navbar-brand{
        color: rgb(214, 30, 30);
        font-size: 18px;
    
    }
}